*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather{
    height: 620px;
    width: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 11px 10px 18px -5px rgba(0,0,0,0.26);
    transform: translateY(11%);


    .top{
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        
        .search{
            padding: 2px;
            height: 50px;
            background: rgb(211, 211, 211);
            width: 90%;
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            margin: 10px;
            font-family: 'Roboto', sans-serif;
            
            input[type=search]{
                background: rgb(211, 211, 211);
                border-radius: 50px;
                padding:20px;
                border: none;
                width: 85%;
                height:100%;
                font-size: 1.2rem;
                font-weight: lighter;
                z-index: 2;
            }
            .search_button{
                cursor: pointer;
                border-radius: 0 50% 50% 0;
                border: none;
                width: 52px;
                height:50px;
                transform: translate(5%,-4%);
                background: rgb(189, 189, 189);
                img{
                    width: 21px;
                    outline: 0;
                    opacity: 0.7;
                }

                &:hover{
                    background: rgb(199, 199, 199);
                }
            }
            
        }
        #icon{
            transform: translateY(-10%);
            img{
                width: 350px;
                height: 350px;
            }            
        }
        
    }
    .bottom{        
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;

        .temperature {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: fit-content;
            font-family: 'Spartan', sans-serif;
            opacity: 0.8;

            #number{
                font-size: 5rem;
            }
            #degree{
                transform: translateY(-150%);
                font-size: 1.8rem;
                font-weight: bold;
                color: #1e90ff ;
            }
        }

        #data{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Baloo Thambi 2', cursive;

            #locAndCoun{
                display: flex;
                flex-direction: row;
                font-size: 2.2rem;
            }

            .state{
                font-size: 1.2rem;
                font-weight: lighter;
            }

        }

        
    }
    
   
}